<div>
    <ul>
        @foreach(var catalogEntryCode in (List<string>)ViewData["CatalogEntryCodes"])
        {
            <li><a href="/sku/@catalogEntryCode">@catalogEntryCode</a></li>
        }
    </ul>
</div>